services:
  frontend:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./frontend/dist:/usr/share/nginx/html

  backend:
    build: ./backend/
    ports:
      - "8000:8000"
    environment:
      - BACKEND_CORS_ORIGINS="http://localhost"
